* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;

}


#menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 70%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(img/bgc.jpg);
  font-family: helvetica;
  font-size: 11px;
  letter-spacing: 1.2px;


}

#menu .menuTitle {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 3%;
  margin-bottom: 2%;
  padding-left: 20%;
  padding-right: 20%;
  height: 150px;
}


#menu .pizzaClass {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 3%;
  margin-bottom: 7%;
  width: 270px;
}

.cartVisible {
  position: absolute;
  top: 40% !important;
  width: 80% !important;
  /*  width: 80%;*/
}


.pizzaClass .nameOfPizzaAndPrice {
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
  margin-bottom: 5%;
  height: 25px;
  line-height: 25px;
  font-size: 12px;
  font-weight: 700;
  background-color: #ff0000c2;
}



.pizzaClass img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.pizzaClass .ingredientsClass {
  box-sizing: border-box;
  width: 100%;
  height: 130px;
  padding-top: 10%;
  padding-bottom: 10%;
}

.ingredientsClass .ingredientsLabel {
  display: inline;
  color: rgba(255, 255, 255, 0.86);
}

.ingredientsClass .ingredientsFromFetch {
  display: inline;
  width: 100%;
  color: red;
  font-size: 11px;
  line-height: 17px;
  font-weight: 550;
}

.pizzaClass button {
  display: block;
  padding: 2.5%;
  margin: 2% auto 0 auto;
  /*  width: 35%;*/

  font-weight: 600;
  background-color: rgba(255, 182, 193, 0.91);
  color: #343131;
  border: none;
  cursor: pointer;
  transition: transform .7s;
}

.btnOrder:hover {
  transform: scale(1.5);
}

.burger {
  display: none;
  position: fixed;
  top: 10px;
  right: 10px;
  font-size: 40px;
  line-height: 50px;
  transition: .3s linear;
}

.burger:hover {
  cursor: pointer;
}


.fas {
  display: none;
  color: white;
}

.fa-shopping-cart {
  display: block;
}

/*i.show {*/
i.show {
  display: block;
}



.cart {
  position: fixed;
  top: 0;
  bottom: 5px;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 30%;
  padding-left: 1%;
  overflow-y: scroll;
  font-family: helvetica;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.cart span {
  padding-right: 10%;
  padding-left: 10%;
  font-size: 30px;
  font-weight: 800;
}


.cart .fas {
  font-size: 40px;
}


.cart .labelsInCart {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
}

.labelsInCart div {
  width: 30%;
}

.cart .cartItems {
  width: 100%;
}


.cartItems .productPriceQuantity {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  height: fit-content;
  margin-bottom: 5%;
}

.productPriceQuantity div {
  width: 30%;
}

.quantityAndRemoveBtn .quantity {
  width: 40%;
}

.cart .total {
  display: none;
  /*  margin-top: 5%;*/
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
}

.total .totalToPay {
  color: red;
  font-size: 30px;
  font-weight: 800;
  text-transform: lowercase;
}


@media(min-width: 1401px) {
  #menu {
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media(orientation: portrait) {
  body {

    flex-wrap: wrap;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
  }

  .burger {
    display: block;
  }

  #menu {
    width: 100%;
    font-size: 18px;
  }



  #menu .menuTitle {
    width: 100%;
    padding: 0;
  }

  #menu .pizzaClass {
    width: 100%;
  }



  .pizzaClass .nameOfPizzaAndPrice {
    box-sizing: content-box;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 20px;
  }

  .pizzaClass img {
    height: 40vh;
  }

  .pizzaClass .ingredientsClass {
    height: 130px;
    text-align: center;
  }

  .ingredientsClass .ingredientsFromFetch {
    font-size: 18px;

  }

  .pizzaClass button {
    margin: 0% auto 20% auto;
    width: 50%;
    padding: 3.5%;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 700;
  }

  .btnOrder:hover {
    transform: scale(1.0);
  }

  .cart {


    /*    display: none;*/
    /*    position: static;*/
    /*    width: 100%;*/
    /*    padding-top: 10%;*/
    padding-bottom: 10%;
    font-size: 20px;



    position: absolute;
    top: 0;
    bottom: 0;
    left: -90%;
    width: 90%;

  }

  .cart.show {
    position: fixed;
    left: 0;
    height: 40%;
    background-color: black;
  }

  .cart .labelsInCart {
    font-size: 20px;
  }

  .cart .cartItems {
    width: 100%;
  }

  .cartItems .productPriceQuantity {
    align-items: center;
  }

  .quantityAndRemoveBtn .quantity {
    width: 28%;
    margin-right: 8%;
    height: 30px;
  }

  .quantityAndRemoveBtn .btnRemove {
    width: 52%;
    height: 30px;
  }

  .cart .total {
    font-size: 18px;
  }
}


@media(orientation: portrait) and (max-width: 340px) {
  .pizzaClass .nameOfPizzaAndPrice {
    align-items: center;
    height: auto;
    font-size: 19px;
  }


  .nameOfPizzaAndPrice .nameOfPizzaClass {
    width: 55%;
  }
}

@media (orientation: portrait) and (min-width: 540px) {
  #menu .pizzaClass {
    width: 70%;
  }
}

@media (orientation: portrait) and (min-width: 1000px) {

  #menu .menuTitle {
    width: 70%;
    height: 200px;
  }

  #menu .pizzaClass {
    width: 50%;
  }

  .pizzaClass img {
    height: 30vh;
  }

  .pizzaClass .nameOfPizzaAndPrice {
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 30px;
  }

  .pizzaClass .ingredientsClass {
    height: 16vh;
  }

  .ingredientsClass .ingredientsLabel {
    font-size: 28px;
  }

  .ingredientsClass .ingredientsFromFetch {
    font-size: 28px;
    line-height: 35px;
  }

  .pizzaClass button {
    font-size: 30px;
  }

  .cart {
    font-size: 40px;
  }

  .cart span {
    font-size: 50px;
  }

  .cart .fas {
    font-size: 70px;
  }

  .cart .labelsInCart {
    font-size: 40px;
  }

  .productPriceQuantity .quantityAndRemoveBtn {
    align-content: center;
    font-size: 50px;
  }

  .quantityAndRemoveBtn .quantity {
    height: 50px;
    font-size: 30px;
  }

  .quantityAndRemoveBtn .btnRemove {
    height: 50px;
    font-size: 30px;


  }


  .cart .total {
    font-size: 35px;
  }

  .total .totalToPay {
    font-size: 55px;
  }


}




@media(orientation: landscape) and (min-width:901px) {
  #menu {
    font-size: 18px;
  }

  .pizzaClass .nameOfPizzaAndPrice {
    font-size: 15px;
  }

  .ingredientsClass .ingredientsLabel {
    font-size: 16px;
  }

  .ingredientsClass .ingredientsFromFetch {
    font-size: 16px;

  }

  .pizzaClass button {
    font-size: 18px;
  }



  .cart .labelsInCart {
    font-size: 17px;
  }

  .cart .total {
    font-size: 18px;
  }

}




@media(orientation: landscape) and (max-width:540px) {
  .ingredientsClass .ingredientsLabel {
    font-size: 14px;
  }

  .ingredientsClass .ingredientsFromFetch {
    font-size: 14px;
  }
}
