body {
  display: flex;
  background-color: black;
  color: white;
}



#menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 550px;
  margin: 0 auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(img/bgc.jpg);
  font-weight: 550;
  font-family: helvetica;
  font-size: 11px;
  letter-spacing: 1.2px;
}

#menu .menuTitle {
  display: flex;
  flex-wrap: wrap;
  width: 51%;
  padding-top: 5%;
  height: 100px;
}


#menu .pizzaClass {
  box-sizing: border-box;
  padding: 5%;
  width: 270px;

}

#menu .pizzaClass:nth-child(2n) {
  border-right: 1px solid grey;
}


.pizzaClass .nameOfPizzaAndPrice {
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
  margin-bottom: 5%;
  height: 25px;
  line-height: 0px;
  background-color: #ff0000c2;
}

.nameOfPizzaAndPrice .nameOfPizzaClass {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
}

.nameOfPizzaAndPrice .priceOfPizzaClass {
  font-size: 14px;
}

.pizzaClass img {
  width: 100%;
  height: 30vh;
}

.pizzaClass .ingredientsClass {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  margin-top: 10%;
  margin-bottom: 10%;
  padding: 5%;

}

.ingredientsClass .ingredientsLabel {
  display: inline;
  color: rgba(255, 255, 255, 0.86);
}

.ingredientsClass .ingredientsFromFetch {
  display: inline;
  width: 100%;
  color: rgba(255, 255, 255, 0.86);
  font-size: 11px;
  line-height: 17px;

}

.pizzaClass button {
  display: block;
  padding: 2.5%;
  margin: 2% auto 0 auto;
  width: 35%;
  font-weight: 600;
  background-color: rgba(255, 182, 193, 0.91);
  color: #343131;
  border: none;
  cursor: pointer;
}

.koszyk {
  width: 60px;
  height: 60px;
}

.koszyk .fas {
  font-size: 40px;
}
